<div>
  <div class="message<%= ' message_right' if message.user == current_user %>">
    <p><%= message.user.username %> <%= message.content %> <%= message.created_at.strftime("%H:%M")%></p>
  </div>
</div>
